<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>お問い合わせの詳細画面</title>
</head>
<body>
	<h1>お問い合わせ詳細画面</h1>
	<table border="1">
		<tr>
			<th>お問い合わせID</th>
			<td th:text="${contact.id}"></td>
		</tr>
		<tr>
			<th>姓</th>
			<td th:text="${contact.lastName"></td>
		</tr>
		<tr>
			<th>名</th>
			<td th:text="${contact.firstName}"></td>
		</tr>
		<tr>
			<th>メールアドレス</th>
			<td th:text="${contact.email}"></td>
		</tr>
		<tr>
			<th>電話番号</th>
			<td th:text="${contact.phone}"></td>
		</tr>
		<tr>
			<th>郵便番号</th>
			<td th:text="${contact.zipCode}"></td>
		</tr>
		<tr>
			<th>住所</th>
			<td th:text="${contact.address}"></td>
		</tr>
		<tr>
			<th>建物名</th>
			<td th:text="${contact.buildingName}"></td>
		</tr>
		<tr>
			<th>お問い合わせ種別</th>
			<td th:text="${contact.contacttype}"></td>
		</tr>
		<tr>
			<th>内容</th>
			<td th:text="${contact.body}"></td>
		</tr>
	</table>
</body>
</html>